<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">
        <h1>문의 게시판(관리자용)</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">문의유형</th>
                <th scope="col">문의제목</th>
                <th scope="col">내용</th>
                <th scope="col">등록일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${result.dtoList}" >
                <th scope="row"><a th:href="@{/admin/qnaread(questionIdx=${dto.questionIdx})}">[[${dto.questionIdx}]]</a>
<!--                (questionIdx=${dto.questionIdx},page= ${result.page})}">  [[${dto.questionIdx}]]</a>-->
                  </th>
                <td>[[${dto.type}]]</td>
                <td>[[${dto.title}]]</td>
                <td>[[${dto.content}]]</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>

            </tr>
            </tbody>
        </table>
        <ul class="pagination h-100 justify-content-center align-items-center">

            <li class="page-item " th:if="${result.prev}">
                <a class="page-link" th:href="@{/admin/qnalist(page= ${result.start -1}
                     ) }" tabindex="-1">이전</a>
            </li>
            <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/admin/qnalist(page = ${page} )}">
                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/admin/qnalist(page= ${result.end + 1})}">다음</a>
            </li>

        </ul>

    </th:block>
</th:block>
</html>
