
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment ="content">
        <h1 class="mt-4">1:1문의내역 답변 등록</h1>
        <form action="/admin/qnamodify" method="post">

            <!--페이지 번호  -->
            <input type="hidden" name="page" th:value="${requestDTO.page}">
            <input type="hidden" name="type" th:value="${requestDTO.type}" >
            <input type="hidden" name="keyword" th:value="${requestDTO.keyword}" >

            <div class="form-group">
                <label>번호</label>
                <input type="text" class="form-control" name="gno" th:value="${dto.questionIdx}" readonly>
            </div>
            <div class="form-group">
                <label>문의제목</label>
                <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
            </div>
            <div class="form-group">
                <label>문의유형</label>
                <textarea rows="5" class="form-control" name="content" readonly>[[${dto.type}]]</textarea>
            </div>
            <div class="form-group">
                <label>문의내용</label>
                <textarea rows="5" class="form-control" name="content" readonly>[[${dto.content}]]</textarea>
            </div>

            <div class="form-group">
                <label>등록일</label>
                <input type="text" class="form-control" name="regDate"
                       th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>
            <div class="form-group">
                <label>수정일</label>
                <input type="text" class="form-control" name="modDate"
                       th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>


        <button type="button" class="btn btn-primary modifyBtn">답변등록</button>
        <button type="button" class="btn btn-info listBtn">목록</button>

        <script th:inline="javascript">
            var actionForm= $("form");

            $(".modifyBtn").click(function(){
                actionForm
                    .attr("action","/admin/qnamodify")
                    .attr("method","post");
                actionForm.submit();
            });

            $(".listBtn").click(function() {
                //var pageInfo = $("input[name='page']");
                var page = $("input[name='page']");
                var type = $("input[name='type']");
                var keyword = $("input[name='keyword']");

                actionForm.empty();

                actionForm.append(page);
                actionForm.append(type);
                actionForm.append(keyword);

                actionForm
                    .attr("action", "/admin/qnalist")
                    .attr("method","get");

                actionForm.submit();

            })

        </script>
    </th:block>
</th:block>
