<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">문의내역 상세 페이지 </h1>
        <div class="form-group">
            <label>번호</label>
            <input type="text" class="form-control" name="questionIdx" th:value="${qnadto.questionIdx}" readonly>
        </div>
        <div class="form-group">
            <label>작성자</label>
            <input type="text" class="form-control" name="userIdx" th:value="${qnadto.userIdx}" readonly>
        </div>
        <div class="form-group">
            <label>문의제목</label>
            <input type="text" class="form-control" name="title" th:value="${qnadto.title}" readonly>
        </div>
        <div class="form-group">
            <label>문의유형</label>
            <textarea rows="5" class="form-control" name="type" readonly>[[${qnadto.type}]]</textarea>
        </div>
        <div class="form-group">
            <label>문의내용</label>
            <textarea rows="5" class="form-control" name="content" readonly>[[${qnadto.content}]]</textarea>
        </div>

        <div class="form-group">
            <label>등록일</label>
            <input type="text" class="form-control" name="regDate"
                   th:value="${#temporals.format(qnadto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <hr>
        <!-- 댓글영역 -->
        <div>
            <div class="mt-4">
                <h5><span class="badge badge-secondary commentCount"> 관리자답변 [[${qnadto.commentCount}]]</span></h5>
            </div>

            <!--관리자 답글 작성란 -->
            <div th:id="adminCommentBox" class="adminCommentBox">
                <h2 class="mt-4">문의내역 답변
                    <span>
                    <button id="addComment" type="button" class="btn btn-info">답변작성</button>
            </span>
                </h2>
                <!--관리자 답변 목록 -->
                <div class="form-group">
                    <table class="type09">
                        <tr class="cols">
                            <th th:name="adminId" th:width="80px">관리자ID</th>
                            <th th:name="commentContent" th:width="850px">댓글</th>
                            <th th:name="regDate" th:width="100px">등록일</th>
                            <th th:name="button" th:width="80px"></th>
                        </tr>
                        <tr th:each="comment: ${commentlist}" class="rows" id="removeDetail">
                            <form th:action="@{/admin/commentdelete/{type}(type=${comment.commentIdx})}"
                                  th:name="commentIdx" th:method="post">
                                <td><p th:text="${comment.adminId}"></p></td>
                                <td><p  th:text="${comment.commentContent}" ></p></td>
                                <td><p th:text="${#temporals.format(comment.regDate, 'yyyy/MM/dd')}">
                                    formatTime(reply.regDate)
                                </p></td>
                                <td>

                                    <button type="submit" class="btn btn-danger commentRemove" id="commentRemove">X
                                    </button>
                                </td>
                            </form>
                        </tr>
                        <!--                        관리자 답변 작성 -->
                        <tr style="display: none" id="detailComment">
                            <form th:action="@{/admin/qnaread{type}(type=${qnadto.questionIdx})}" th:method="post">
<!--                            @{/admin/qnaread(questionIdx=${dto.questionIdx})}-->
                                <!--                                th:action="@{/admin/qnaregister/{type}(type=${qnadto.questionIdx}) }" th:method="post">-->
                                <div>
                                    <td><input placeholder="관리자id"/></td>
                                    <td><textarea th:name="commentContent" th:width="500px" placeholder="답변작성란"
                                                  id="textarea"></textarea></td>
                                    <td th:name="regDate"></td>
                                    <td>
                                        <button type="submit" class="btn btn-primary commentSave" id="commentSave">답변 등록
                                        </button>
                                    </td>
                                </div>
                            </form>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            //toggle
            $(document).ready(function () {
                $('#addComment').click(function () {
                    $('#detailComment').toggle('slow');
                });
            });
            //remove alter
            var removeForm = $("#removeDetail");

            $(".commentRemove").click(function () {
                if (!confirm("삭제하시겠습니까?")) {
                    return;
                }
                removeForm
                    .attr("action", "/admin/qnaread")
                    .attr("method", "post");

                removeForm.submit();

            });
          //addComment


        </script>
        <!--        comment table custom style-->
        <style>
            .type09 {
                border-collapse: collapse;
                text-align: center;
                line-height: 1.5;
            }

            .cols {
                padding: 10px;
                font-weight: bold;
                vertical-align: top;
                color: #369;
                border-bottom: 3px solid #036;
            }

            .rows {
                width: 150px;
                padding: 10px;
                vertical-align: top;
                border-bottom: 1px solid #ccc;
                background: #f3f6f7;
                text-align: left;

            }

            .commentRemove {
                padding-left: 20px;
            }

            #textarea {
                width: 100%;
                height: 10%;
            }
        </style>
    </th:block>
</th:block>
