<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">문의내역 상세 페이지 </h1>
        <div class="form-group">
            <label>번호</label>
            <input type="text" class="form-control" name="questionIdx" th:value="${qnadto.questionIdx}" readonly>
        </div>
        <div class="form-group">
            <label>작성자</label>
            <input type="text" class="form-control" name="userIdx" th:value="${qnadto.userIdx}" readonly>
        </div>
        <div class="form-group">
            <label>문의제목</label>
            <input type="text" class="form-control" name="title" th:value="${qnadto.title}" readonly>
        </div>
        <div class="form-group">
            <label>문의유형</label>
            <textarea rows="5" class="form-control" name="type" readonly>[[${qnadto.type}]]</textarea>
        </div>
        <div class="form-group">
            <label>문의내용</label>
            <textarea rows="5" class="form-control" name="content" readonly>[[${qnadto.content}]]</textarea>
        </div>

        <div class="form-group">
            <label>등록일</label>
            <input type="text" class="form-control" name="regDate"
                   th:value="${#temporals.format(qnadto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <div class="form-group">
            <label>수정일</label>
            <input type="text" class="form-control" name="modDate"
                   th:value="${#temporals.format(qnadto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <hr>

        <!--        <a th:href="@{/admin/qnalist(page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">-->
        <!--            <button type="button" class="btn btn-info">목록</button>-->
        <!--        </a>-->
        <!--        <button id="chkCommentBtn" th:onclick="" type="button" class="btn btn-primary commentCount"> 답변확인-->
        <!--        </button>-->
        <!--        <button id="closeCommentBtn" th:onclick="openComment()" type="button" class="btn btn-outline-secondary commentClose">닫기</button>-->
        <!--        <div class="list-group commentList">        </div>-->


        <!--관리자 답글 작성란 -->
        <div th:id="adminCommentBox" class="adminCommentBox">
            <h2 class="mt-4">문의내역 답변
                <span>
                <a th:href="@{/admin/qnalist}">
                    <button type="button" class="btn btn-info">목록</button>
                </a>
            </span></h2>
            <div class="form-group">
                <table class="type09">
                    <tr class="cols">
                        <th th:width="80px" >관리자ID</th>
                        <th th:width="850px" >댓글</th>
                        <th th:width="100px">등록일</th>
                        <th th:width="80px"></th>
                    </tr>
                    <tr th:each="comment: ${commentlist}" class="rows">
                        <form th:action="@{/admin/commentdelete/{type}(type=${comment.commentIdx})}"
                              th:name="commentIdx" th:method="post">
                            <td ><p th:text="${comment.admin.adminId}"></p></td>
                            <td ><p th:text="${comment.commentContent}"></p></td>
                            <td ><p th:text="${#temporals.format(comment.regDate, 'yyyy/MM/dd')}"></p></td>
                            <td >
                                <button type="submit" class="btn btn-danger commentRemove" id="commentRemove">X</button>
                            </td>
                        </form>
                    </tr>
                    <tr>
                        <form th:action="@{/admin/qnaregister/{type}(type=${qnadto.questionIdx}) }" th:method="post">
                            <td><input th:name="adminId" placeholder="관리자id"/></td>
                            <td><textarea th:name="commentContent" th:width="500px" placeholder="답변작성란"
                                          id="textarea"></textarea></td>
                            <td th:name="regDate"></td>
                            <td>
                                <button type="submit" class="btn btn-primary commentSave" id="commentSave">답변 등록
                                </button>
                            </td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>

        <script th:inline="javascript">

        </script>
        <style>
            .type09 {
                border-collapse: collapse;
                text-align: center;
                line-height: 1.5;
            }
            .cols {
                  padding: 10px;
                  font-weight: bold;
                  vertical-align: top;
                  color: #369;
                  border-bottom: 3px solid #036;
              }
            .rows{
                width: 150px;
                padding: 10px;
                vertical-align: top;
                border-bottom: 1px solid #ccc;
                background: #f3f6f7;
                text-align: left;

            }
            .commentRemove{
                padding-left: 20px;
            }
           #textarea {
               width: 100%;
               height: 10%;
           }
        </style>
    </th:block>
</th:block>
