<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="setContent(content)">

    <head>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>관리자 페이지</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading" ><a th:href="@{/}" > Culture Universe</a></div>
        <div class="list-group list-group-flush">
            <a th:href="@{/admin/list}" class="list-group-item list-group-item-action bg-light">공지사항</a>
            <a th:href="@{/event/list}" class="list-group-item list-group-item-action bg-light">이벤트</a>
            <a th:href="@{/winner/list}" class="list-group-item list-group-item-action bg-light">이벤트 당첨자</a>
            <a th:href="@{/admin/qnalist}"
               class="list-group-item list-group-item-action bg-light">1:1문의내역</a>
        </div>

 
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">


        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">메뉴 숨기기</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}" sec:authorize="isAnonymous()">로그인 </a>
                        <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()" >로그아웃 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}" sec:authorize="isAnonymous()">관리자 등록</a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="container-fluid">

            <th:block th:replace = "${content}"></th:block>

        </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->




<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</th:block>
</html>

